<!DOCTYPE html>
<html>
    <head>
        <title>Survival Trial</title>
        <link rel="stylesheet" type="text/css" href="../index.css">
        <link rel="stylesheet" type="text/css" href="../challenge.css">
        <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
        <link rel="icon" href="/images/LogoCuadrado.jpg" type="image/jpg">
        <link rel="shortcut icon" href="/images/LogoCuadrado.jpg" type="image/jpg">
    </head>
    <body>
        <header class="header">
            <a href="/" class="header__title">Inicio</a>
            <img class="header__logo" src="/images/LogoLargo.png" alt="Logo">
            <div class="header__right-content">
                <p id="challengeInfo" class="header__info"></p>
                <img src="/images/persona.png" class="header__userLogo">
            </div>
        </header>               
        <main class="main-content">
            <div class="challengeScreenContainer">
                <div class="challengeScreenContainer__descriptionContainer">
                    <p id="challengeDescription" class="challengeScreenContainer__description">El forastero te muestra dos opciones: un camino que atraviesa un denso bosque de cactus y otro que cruza un peligroso terreno de arena movediza. Tu elección determinará tu próximo desafío en este vasto y hostil desierto. ¿Qué camino tomarás?</p>
                    <div id="challengeOptions" class="challengeScreenContainer__optionsContainer">
                        <div class="optionsContainer__option">
                            <img class="option__image" src="/images/scenarios/desert/machete.jpg"></img>
                            <button id="quicksandButton" class="option__button option__button--text">Arena Movediza</button>
                        </div>
                        <div class="optionsContainer__option">
                            <img class="option__image" src="/images/scenarios/desert/baston.jpg"></img>
                            <button id="catusButton" class="option__button option__button--text">Cactus</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <img class="footer__leafImage" src="/images/hoja1.png">
            <text class="footer__authorRights">Derechos de autor © 2023. Jairo Calderón Solís - Usiel Ramírez González.</text>
            <img class="footer__leafImage" src="/images/hoja1.png">
        </footer>
        <script src="/desert/step1.js"></script>
    </body>
</html>