<!DOCTYPE html>
<html>
    <head>
        <title>Survival Trial</title>
        <link rel="stylesheet" type="text/css" href="../index.css">
        <link rel="stylesheet" type="text/css" href="../challenge.css">
        <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
        <link rel="icon" href="/images/LogoCuadrado.jpg" type="image/jpg">
        <link rel="shortcut icon" href="/images/LogoCuadrado.jpg" type="image/jpg">
    </head>
    <body>
        <header class="header">
            <a href="/" class="header__title">Inicio</a>
            <img class="header__logo" src="/images/LogoLargo.png" alt="Logo">
            <div class="header__right-content">
                <p id="challengeInfo" class="header__info"></p>
                <img src="/images/persona.png" class="header__userLogo">
            </div>
        </header>               
        <main class="main-content">
            <div id="walkOption" class="modal-container">
                <div class="modal">
                    <h1 class="title_notificacion">Resultado</h1>
                    <p class="body_notification">Usted ha escogido la opción de caminar por la orilla, es muy probable que se caiga en la arena movediza:</p>
                    <p class="lose_points_notification">Pierde -5pts</p>
                    <button id="closeWalk" class="option__button option__button--text">Aceptar</button>
                </div>
            </div>
            <div id="jumpStonesOption" class="modal-container">
                <div class="modal">
                    <h1 class="title_notificacion">Resultado</h1>
                    <p class="body_notification">Usted ha escogido la decisión de saltar por las rocas, lo cuál es la mejor opción para pasar la arena movediza:</p>
                    <p class="win_points_notification">Gana +30pts</p>
                    <button id="closeJumpStones" class="option__button option__button--text">Aceptar</button>
                </div>
            </div>
            <div class="challengeScreenContainer">
                <div class="challengeScreenContainer__descriptionContainer">
                    <p id="challengeDescription" class="challengeScreenContainer__description">Decides aventurarte a través de la arena movediza, un terreno traicionero que parece tragar todo lo que toca. Mientras avanzas con cuidado, notas algunas piedras salpicadas en el camino, formando un camino irregular a través de la peligrosa área central. También puedes optar por caminar por la orilla de la arena movediza, donde parece ser más firme pero menos directo. ¿Prefieres saltar de piedra en piedra o caminar por la orilla?</p>
                    <div id="challengeOptions" class="challengeScreenContainer__optionsContainer">
                        <div class="optionsContainer__option">
                            <img class="option__image" src="/images/scenarios/desert/caminarOrilla.jpg"></img>
                            <button id="walkButton" class="option__button option__button--text">Caminar por la orilla</button>
                        </div>
                        <div class="optionsContainer__option">
                            <img class="option__image" src="/images/scenarios/desert/saltarRocas.jpg"></img>
                            <button id="jumpStonesButton" class="option__button option__button--text">Saltar por las rocas</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <img class="footer__leafImage" src="/images/hoja1.png">
            <text class="footer__authorRights">Derechos de autor © 2023. Jairo Calderón Solís - Usiel Ramírez González.</text>
            <img class="footer__leafImage" src="/images/hoja1.png">
        </footer>
        <script src="/desert/step2.js"></script>
    </body>
</html>