<!DOCTYPE html>
<html>
    <head>
        <title>Survival Trial</title>
        <link rel="stylesheet" type="text/css" href="index.css">
        <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
        <link rel="icon" href="/images/LogoCuadrado.jpg" type="image/jpg">
        <link rel="shortcut icon" href="/images/LogoCuadrado.jpg" type="image/jpg">
    </head>
    <body>
        <main class="main-content">
            <div class="mainScreenContainer">
                <img class="mainScreenContainer__logo" src="/images/Logo.png"></img>
                <div class="mainScreenContainer__nicknameContainer">
                    <h3 class="nicknameContainer__title">Nickname:</h3>
                    <input id="nicknameTextbox" class="nicknameContainer__textbox nicknameContainer__textbox--text" placeholder="Write here..."></input>
                </div>
                <button id="startButton" class="mainScreenContainer__startButton mainScreenContainer__startButton--text">Start</button>
            </div>
        </main>
        <footer class="footer">
            <img class="footer__leafImage" src="/images/hoja1.png"></img>
            <text class="footer__authorRights">Derechos de autor © 2023. Jairo Calderón Solís - Usiel Ramírez González.</text>
            <img class="footer__leafImage" src="/images/hoja1.png"></img>
        </footer>
        <script src="main.js"></script>
    </body>
</html>