<!DOCTYPE html>
<html>
    <head>
        <title>Survival Trial</title>
        <link rel="stylesheet" type="text/css" href="../index.css">
        <link rel="stylesheet" type="text/css" href="../challenge.css">
        <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
        <link rel="icon" href="/images/LogoCuadrado.jpg" type="image/jpg">
        <link rel="shortcut icon" href="/images/LogoCuadrado.jpg" type="image/jpg">
    </head>
    <body>
        <header class="header" role="banner">
            <a href="/" class="header__title" aria-label="Enlace a la página de inicio">Inicio</a>
            <img class="header__logo" src="/images/LogoLargo.png" alt="Logo de la página" aria-label="Logo de la página">
            <div class="header__right-content">
                <p id="challengeInfo" class="header__info" aria-live="polite"></p>
                <img src="/images/persona.png" class="header__userLogo" alt="Icono de usuario" aria-label="Icono de usuario">
            </div>
        </header>               
        <main class="main-content" role="main">
            <div id="wishesOption" class="modal-container" role="dialog">
                <div class="modal">
                    <h1 class="title_notificacion">Resultado</h1>
                    <p class="body_notification">Usted ha escogido la opción de escoger 3 deseos, lo cuál no se puede porque la magia no existe:</p>
                    <p class="lose_points_notification">Pierde -5pts</p>
                    <button id="closeWishes" class="option__button option__button--text" aria-label="Aceptar resultado de la opción de escoger 3 deseos">Aceptar</button>
                </div>
            </div>
            <div id="pointsOption" class="modal-container" role="dialog">
                <div class="modal">
                    <h1 class="title_notificacion">Resultado</h1>
                    <p class="body_notification">Usted ha escogido la decisión de sumar 30pts y seguir, lo cuál es la mejor opción para sobrevivir la aventura:</p>
                    <p class="win_points_notification">Gana +30pts</p>
                    <button id="closePoints" class="option__button option__button--text" aria-label="Aceptar resultado de la opción de sumar 30pts y seguir">Aceptar</button>
                </div>
            </div>
            <div class="challengeScreenContainer">
                <div class="challengeScreenContainer__descriptionContainer">
                    <p id="challengeDescription" class="challengeScreenContainer__description" aria-live="polite"> Al entrar por la puerta azul, te encuentras con un genio misterioso que te hace una oferta intrigante. Te ofrece dos opciones: 3 deseos o 30pts y puedes pasar</p>
                    <div id="challengeOptions" class="challengeScreenContainer__optionsContainer" role="menu">
                        <div class="optionsContainer__option" role="menuitem">
                            <img class="option__image" src="/images/scenarios/jungle/deseos.jpg" alt="Imagen de la opción de escoger 3 deseos" aria-label="Imagen de la opción de escoger 3 deseos">
                            <button id="wishesButton" class="option__button option__button--text" aria-label="Seleccionar la opción de escoger 3 deseos">3 deseos</button>
                        </div>
                        <div class="optionsContainer__option" role="menuitem">
                            <img class="option__image" src="/images/scenarios/jungle/puntos.jpg" alt="Imagen de la opción de sumar 30pts y seguir" aria-label="Imagen de la opción de sumar 30pts y seguir">
                            <button id="pointsButton" class="option__button option__button--text" aria-label="Seleccionar la opción de sumar 30pts y seguir">30pts y pasar</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer" role="contentinfo">
            <img class="footer__leafImage1" src="/images/hoja1.png" alt="Imagen de una hoja" aria-label="Imagen de una hoja">
            <text class="footer__authorRights" aria-live="polite">Derechos de autor © 2023. Jairo Calderón Solís - Usiel Ramírez González.</text>
            <img class="footer__leafImage" src="/images/hoja1.png" alt="Imagen de una hoja" aria-label="Imagen de una hoja">
        </footer>
        <script src="/jungle/step3.js"></script>
    </body>
</html>