<!DOCTYPE html>
<html>
    <head>
        <title>Survival Trial</title>
        <link rel="stylesheet" type="text/css" href="../index.css">
        <link rel="stylesheet" type="text/css" href="../challenge.css">
        <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
        <link rel="icon" href="/images/LogoCuadrado.jpg" type="image/jpg">
        <link rel="shortcut icon" href="/images/LogoCuadrado.jpg" type="image/jpg">
    </head>
    <body>
        <header class="header">
            <a href="/" class="header__title">Inicio</a>
            <img class="header__logo" src="/images/LogoLargo.png" alt="Logo">
            <div class="header__right-content">
                <p id="challengeInfo" class="header__info"></p>
                <img src="/images/persona.png" class="header__userLogo"></img>
            </div>
        </header>               
        <main class="main-content">
            <div class="challengeScreenContainer">
                <div class="challengeScreenContainer__descriptionContainer">
                    <p id="challengeDescription" class="challengeScreenContainer__description challengeScreenContainer__description--triviaOptions">
                        1. A tiene dos hijos: D y F. 
                        <br>2. F tiene dos hijos, el primero de ellos sin hijos, pero ambos hijos de D (B y C) tienen hijos. 
                        <br>3. B tiene dos hijos. 
                        <br>4. Mientras tanto C tiene menos hijos en total que el total de nietos de F.
                    </p>
                    <p class="challengeScreenContainer__description challengeScreenContainer__description--triviaAnswer">¿Cuál de las siguientes afirmaciones es verdadera?</p>
                    <div id="challengeOptions" class="challengeScreenContainer__optionsContainer">
                        <div class="optionsContainer__option">
                            <img class="option__image" src="/images/scenarios/jungle/nietos.jpg"></img>
                            <button id="option1Button" class="option__button__step4 option__button--text">D tiene más nietos que F</button>
                        </div>
                        <div class="optionsContainer__option">
                            <img class="option__image" src="/images/scenarios/jungle/dosHijos.jpg"></img>
                            <button id="option2Button" class="option__button__step4 option__button--text">El segundo hijo de F tiene al menos dos hijos</button>
                        </div>
                        <div class="optionsContainer__option">
                            <img class="option__image" src="/images/scenarios/jungle/masHijos.jpg"></img>
                            <button id="option3Button" class="option__button__step4 option__button--text">A tiene más hijos que D</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <img class="footer__leafImage" src="/images/hoja1.png"></img>
            <text class="footer__authorRights">Derechos de autor © 2023. Jairo Calderón Solís - Usiel Ramírez González.</text>
            <img class="footer__leafImage" src="/images/hoja1.png"></img>
        </footer>
        <script src="/jungle/step4.js"></script>
    </body>
</html>