<!DOCTYPE html>
<html>
    <head>
        <title>Survival Trial</title>
        <link rel="stylesheet" type="text/css" href="../index.css">
        <link rel="stylesheet" type="text/css" href="../challenge.css">
        <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
        <link rel="icon" href="/images/LogoCuadrado.jpg" type="image/jpg">
        <link rel="shortcut icon" href="/images/LogoCuadrado.jpg" type="image/jpg">
    </head>
    <body>
        <header class="header">
            <a href="/" class="header__title">Inicio</a>
            <img class="header__logo" src="/images/LogoLargo.png" alt="Logo">
            <div class="header__right-content">
                <p id="challengeInfo" class="header__info"></p>
                <img src="/images/persona.png" class="header__userLogo"></img>
            </div>
        </header>               
        <main class="main-content">
            <div id="fightOption" class="modal-container">
                <div class="modal">
                    <h1 class="title_notificacion">Resultado</h1>
                    <p class="body_notification">Usted ha escogido la opción de luchar contra la tribu asesina, lo cuál no es muy inteligente:</p>
                    <p class="lose_points_notification">Pierde -5pts</p>
                    <button id="closeFight" class="option__button option__button--text">Aceptar</button>
                </div>
            </div>
            <div id="evangelizeOption" class="modal-container">
                <div class="modal">
                    <h1 class="title_notificacion">Resultado</h1>
                    <p class="body_notification">Usted ha escogido la decisión de evangelizar a la tribu asesina, lo cuál es la mejor opción para evitar la violencia:</p>
                    <p class="win_points_notification">Gana +30pts</p>
                    <button id="closeEvangelize" class="option__button option__button--text">Aceptar</button>
                </div>
            </div>
            <div class="challengeScreenContainer">
                <div class="challengeScreenContainer__descriptionContainer">
                    <p id="challengeDescription" class="challengeScreenContainer__description"> Te encuentras frente a la tribu asesina después de ingresar por la puerta roja. Los miembros de la tribu te observan con cautela. Ahora te enfrentas a una decisión crucial. ¿Deberías intentar evangelizarlos pacíficamente o luchar contra ellos? La elección es tuya.</p>
                    <div id="challengeOptions" class="challengeScreenContainer__optionsContainer">
                        <div class="optionsContainer__option">
                            <img class="option__image" src="/images/scenarios/jungle/luchar.jpg"></img>
                            <button id="fightButton" class="option__button option__button--text">Luchar</button>
                        </div>
                        <div class="optionsContainer__option">
                            <img class="option__image" src="/images/scenarios/jungle/evangelizar.jpg"></img>
                            <button id="evangelizeButton" class="option__button option__button--text">Evangelizarlos</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <img class="footer__leafImage1" src="/images/hoja1.png"></img>
            <text class="footer__authorRights">Derechos de autor © 2023. Jairo Calderón Solís - Usiel Ramírez González.</text>
            <img class="footer__leafImage" src="/images/hoja1.png"></img>
        </footer>
        <script src="/jungle/step2.js"></script>
    </body>
</html>