<!DOCTYPE html>
<html>
    <head>
        <title>Survival Trial</title>
        <link rel="stylesheet" type="text/css" href="../index.css">
        <link rel="stylesheet" type="text/css" href="../challenge.css">
        <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
        <link rel="icon" href="/images/LogoCuadrado.jpg" type="image/jpg">
        <link rel="shortcut icon" href="/images/LogoCuadrado.jpg" type="image/jpg">
    </head>
    <body>
        <header class="header">
            <a href="/" class="header__title">Inicio</a>
            <img class="header__logo" src="/images/LogoLargo.png" alt="Logo">
            <div class="header__right-content">
                <p id="challengeInfo" class="header__info"></p>
                <img src="/images/persona.png" class="header__userLogo"></img>
            </div>
        </header>               
        <main class="main-content">
            <div id="swimOption" class="modal-container">
                <div class="modal">
                    <h1 class="title_notificacion">Resultado</h1>
                    <p class="body_notification">Usted ha escogido una buena decisión, pero no la mejor, nadar y huir:</p>
                    <p class="win_points_notification">Gana +20pts</p>
                    <button id="closeSwim" class="option__button option__button--text">Aceptar</button>
                </div>
            </div>
            <div id="catchOption" class="modal-container">
                <div class="modal">
                    <h1 class="title_notificacion">Resultado</h1>
                    <p class="body_notification">Usted ha escogido la decisión más mala, atrapar medusas no debe ser muy seguro:</p>
                    <p class="lose_points_notification">Pierde -10pts</p>
                    <button id="closeCatch" class="option__button option__button--text">Aceptar</button>
                </div>
            </div>
            <div id="submarineOption" class="modal-container">
                <div class="modal">
                    <h1 class="title_notificacion">Resultado</h1>
                    <p class="body_notification">Usted ha escogido la decisión correcta, irse en submarino es lo mejor para no enfrentar a las medusa:</p>
                    <p class="win_points_notification">Gana +50pts</p>
                    <button id="closeSubmarine" class="option__button option__button--text">Aceptar</button>
                </div>
            </div>
            <div class="challengeScreenContainer">
                <div class="challengeScreenContainer__descriptionContainer">
                    <p id="challengeDescription" class="challengeScreenContainer__description"> Te encuentras en alta mar, tu tranquilidad se ve amenazada cuando te das cuenta de que estás rodeado de medusas, criaturas marinas notoriamente peligrosas. En este momento crucial, te encuentras en una encrucijada y debes tomar una decisión importante para tu supervivencia.</p>
                    <div id="challengeOptions" class="challengeScreenContainer__optionsContainer">
                        <div class="optionsContainer__option">
                            <img class="option__image" src="/images/scenarios/sea/nadar.jpg"></img>
                            <button id="swimButton" class="option__button option__button--text">Nadar y huir</button>
                        </div>
                        <div class="optionsContainer__option">
                            <img class="option__image" src="/images/scenarios/sea/atrapar.jpg"></img>
                            <button id="catchButton" class="option__button option__button--text">Atrapar</button>
                        </div>
                        <div class="optionsContainer__option">
                            <img class="option__image" src="/images/scenarios/sea/submarino.jpg"></img>
                            <button id="submarineButton" class="option__button option__button--text">Irse en submarino</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <img class="footer__leafImage1" src="/images/hoja1.png"></img>
            <text class="footer__authorRights">Derechos de autor © 2023. Jairo Calderón Solís - Usiel Ramírez González.</text>
            <img class="footer__leafImage" src="/images/hoja1.png"></img>
        </footer>
        <script src="/sea/main.js"></script>
    </body>
</html>