<!DOCTYPE html>
<html>
    <head>
        <title>Survival Trial</title>
        <link rel="stylesheet" type="text/css" href="../index.css">
        <link rel="stylesheet" type="text/css" href="../challenge.css">
        <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
        <link rel="icon" href="/images/LogoCuadrado.jpg" type="image/jpg">
        <link rel="shortcut icon" href="/images/LogoCuadrado.jpg" type="image/jpg">
    </head>
    <body>
        <header class="header">
            <a href="/" class="header__title">Inicio</a>
            <img class="header__logo" src="/images/LogoLargo.png" alt="Logo">
            <div class="header__right-content">
                <p id="challengeInfo" class="header__info"></p>
                <img src="/images/persona.png" class="header__userLogo"></img>
            </div>
        </header>               
        <main class="main-content">
            <div class="challengeScreenContainer">
                <h1>Sea Screen</h1>
            </div>
        </main>
        <footer class="footer">
            <img class="footer__leafImage" src="/images/hoja1.png"></img>
            <text class="footer__authorRights">Derechos de autor © 2023. Jairo Calderón Solís - Usiel Ramírez González.</text>
            <img class="footer__leafImage" src="/images/hoja1.png"></img>
        </footer>
        <script src="/sea/main.js"></script>
    </body>
</html>