<!DOCTYPE html>
<html>
    <head>
        <title>Survival Trial</title>
        <link rel="stylesheet" type="text/css" href="../index.css">
        <link rel="stylesheet" type="text/css" href="../challenge.css">
        <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
        <link rel="icon" href="/images/LogoCuadrado.jpg" type="image/jpg">
        <link rel="shortcut icon" href="/images/LogoCuadrado.jpg" type="image/jpg">
    </head>
    <body>
        <header class="header">
            <a href="/" class="header__title">Inicio</a>
            <img class="header__logo" src="/images/LogoLargo.png" alt="Logo">
            <div class="header__right-content">
                <p id="challengeInfo" class="header__info"></p>
                <img src="/images/persona.png" class="header__userLogo"></img>
            </div>
        </header>               
        <main class="main-content">
            <div id="fish1Option" class="modal-container">
                <div class="modal">
                    <h1 class="title_notificacion">Resultado</h1>
                    <p class="body_notification">Usted ha escogido una mala decisión, comerse un pez venenoso como el pez globo no es tan buena idea:
                    <p class="lose_points_notification">Pierde -100pts</p>
                    <button id="closeFish1" class="option__button option__button--text">Aceptar</button>
                </div>
            </div>
            <div id="fish2Option" class="modal-container">
                <div class="modal">
                    <h1 class="title_notificacion">Resultado</h1>
                    <p class="body_notification">Usted ha escogido una buena decisión, pero no la mejor, comerse el pez espada:</p>
                    <p class="win_points_notification">Gana +50pts</p>
                    <button id="closeFish2" class="option__button option__button--text">Aceptar</button>
                </div>
            </div>
            <div id="fish3Option" class="modal-container">
                <div class="modal">
                    <h1 class="title_notificacion">Resultado</h1>
                    <p class="body_notification">Usted ha escogido la decisión correcta, comerse un pez payaso es lo mejor:</p>
                    <p class="win_points_notification">Gana +100pts</p>
                    <button id="closeFish3" class="option__button option__button--text">Aceptar</button>
                </div>
            </div>
            <div class="challengeScreenContainer">
                <div class="challengeScreenContainer__descriptionContainer">
                    <p id="challengeDescription" class="challengeScreenContainer__description">Después de superar los desafíos en el mar, te encuentras frente a una última decisión para terminar tu aventura. Tienes tres opciones de peces para comer que son pez globo, pez payaso y pez payaso</p>
                    <div id="challengeOptions" class="challengeScreenContainer__optionsContainer">
                        <div class="optionsContainer__option">
                            <img class="option__image" src="/images/scenarios/sea/pezGlobo.jpg"></img>
                            <button id="fish1Button" class="option__button option__button--text">Pez globo</button>
                        </div>
                        <div class="optionsContainer__option">
                            <img class="option__image" src="/images/scenarios/sea/pezEspada.jpg"></img>
                            <button id="fish2Button" class="option__button option__button--text">Pez espada</button>
                        </div>
                        <div class="optionsContainer__option">
                            <img class="option__image" src="/images/scenarios/sea/pezPayaso.jpg"></img>
                            <button id="fish3Button" class="option__button option__button--text">Pez payaso</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <img class="footer__leafImage1" src="/images/hoja1.png"></img>
            <text class="footer__authorRights">Derechos de autor © 2023. Jairo Calderón Solís - Usiel Ramírez González.</text>
            <img class="footer__leafImage" src="/images/hoja1.png"></img>
        </footer>
        <script src="/sea/step3.js"></script>
    </body>
</html>