.header {
    height: 76px;
    display: flex;
    background: #0A3F28;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header__logo {
    object-fit: cover;
    max-height: 80px;
    width: auto;
    margin: 0 auto;
}

.header__title {
    margin: 0;
    color: white;
    font-family: 'Londrina Solid';
    font-size: 28px;
    font-weight: 200;
}

.header__right-content {
    display: flex;
    align-items: center;
}

.header__info {
    margin-right: 10px;
    color: white;
    font-family: 'Londrina Solid';
    font-size: 20px;
    font-weight: 200;
}

.header__userLogo {
    object-fit: cover;
    max-height: 60px;
    width: 40px;
}

.challengeScreenContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
}

.challengeScreenContainer__descriptionContainer {
    height: auto;
}

.challengeScreenContainer__description {
    font-family: 'Londrina Solid';
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    padding: 0px 20px;
}

.challengeScreenContainer__description--triviaOptions {
    text-align: left; 
    font-size: 30px; 
    margin-top: -2px;
}

.challengeScreenContainer__description--triviaAnswer {
    margin-top: -25px; 
    font-size: 35px;
}

.challengeScreenContainer__optionsContainer {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.optionsContainer__option {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.option__image {
    object-fit: cover;
    height: 17vw; 
    width: 25vw; 
    max-width: 100%; 
}

.option__button {
    width: 289px;
    height: 40px;
    background: #D9D9D9;
    border-radius: 16px;
    border: none;
}

.option__button__step4 {
    width: auto;
    height: auto;
    background: #D9D9D9;
    border-radius: 16px;
    border: none;
}

.option__button--text {
    font-family: 'Londrina Solid';
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
}





